<div class="bg-secondary mt-5">
    <div class="row p-5">
        <div class="d-flex justify-content-center">
            <div class="me-5">
                <img src="../../../../assets/images/logo-facebook.png" alt="">
            </div>
            <div class="me-5">
                <img src="../../../../assets/images/logo-instagram.svg" alt="">
            </div>
            <div class="me-5">
                <img src="../../../../assets/images/logo-youtube.svg" alt="">
            </div>
            <div class="me-5">
                <img src="../../../../assets/images/logo-x.svg" alt="">
            </div>
            <div class="me-5">
                <img src="../../../../assets/images/logo-soporte.svg" alt="">
            </div>
           
       
        </div>
    
    </div>
    
    <div class="row p-3">
        <div class="d-flex flex-column align-items-center">
            <h3 class="text-light">BetBlitz</h3>
            <span class="text-light">Copyright © 2024 BetBlitz, INC</span>
        </div>
    </div>
    
    <div class="row p-3">
        <div class="d-flex justify-content-center">
            <span class="me-3 text-light">Informacion Legal</span>
            <span class="me-3 text-light">|</span>
            <span class="text-light">Politicas y Privacidad</span>
        </div>
    </div>
    
    
</div>
