<div class="dashboard">
    <div class="sidebar">
        <img src="../../../../assets/images/logo-betblitz.png" alt="" class="">
        <div class="bienvenido-box">
            <h2><strong>Bienvenido</strong></h2>
        </div>
        <div class="botones">
            <div class="grupo-botones">
                <div class="boton-wrapper">
                    <button class="boton boton-1"></button>
                    <p>Apuestas</p>
                </div>
                <div class="boton-wrapper">
                    <button class="boton boton-2"></button>
                    <p>Recargar</p>
                </div>
            </div>
            <div class="grupo-botones">
                <div class="boton-wrapper">
                    <button class="boton boton-3"></button>
                    <p>Calendario</p>
                </div>
                <div class="boton-wrapper">
                    <button class="boton boton-4"></button>
                    <p>Resultados</p>
                </div>
            </div>
            <div class="grupo-botones">
                <div class="boton-wrapper">
                    <button class="boton boton-5"></button>
                    <p>Perfil</p>
                </div>
                <div class="boton-wrapper">
                    <button class="boton boton-6"></button>
                    <p>Soporte</p>
                </div>
            </div>
        </div>
        <a href="/home" class="btn btn-primary">Cerrar Sesión</a>
    </div>
    <div class="contenido">
        <div class="botones-contenido">
            <button class="boton-contenido boton-contenido-1"></button>
            <button class="boton-contenido boton-contenido-2"></button>
            <button class="boton-contenido boton-contenido-3"></button>
        </div>
        
    </div>
</div>
<app-footer></app-footer>