.dashboard {
    display: flex;
    width: auto;
    padding: auto;
  }
  
.sidebar {
    width: auto;
    padding: auto;
    background-color: #f1f1f1;
  }
  
.botones button {
    display: block;
    margin-bottom: 10px;
    padding: 20px; 
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-position: center; /* Centra la imagen */
    background-color: transparent; 
    border: none; 
  }
  
.contenido {
    flex: 1;
    padding: 20px;
    background-color: #2a2a2b;
  }

.bienvenido-box {
    background-color: #606263; 
    padding: 5px;
    margin-bottom: 10px;
    color: #dadada;
    font-family: 'Roboto', sans-serif;
  }
.boton-1 {
    background-image: url('../../../../assets/images/apuestas.jpg');
    width: 80px; 
    height: 80px;
  }
.boton-2 {
    background-image: url('../../../../assets/images/recarga.jpg');
    width: 80px; 
    height: 80px;
  }
.boton-3 {
    background-image: url('../../../../assets/images/proximosPartidos.jpg');
    width: 80px; 
    height: 80px;
  }
.boton-4 {
    background-image: url('../../../../assets/images/result.jpg');
    width: 80px; 
    height: 80px;
  }
.boton-5 {
    background-image: url('../../../../assets/images/perfil.png');
    width: 80px; 
    height: 80px;
  }
.boton-6 {
    background-image: url('../../../../assets/images/soporte\(1\).png');
    width: 80px;
    height: 80px;
  }
.botones button:hover {
    opacity: 0.8; 
  }
.botones {
    display: flex;
    flex-direction: column;
  }
.grupo-botones {
    display: flex;
  }
.botones button {
    margin-bottom: 10px; /
    
  }
  
.botones button:last-child {
    margin-right: 0;
  }
.boton-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    margin-right: 10px; 
  }

  .botones-contenido {
    display: flex;
    justify-content: space-around;
}

.boton-contenido {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
}

.boton-contenido:hover {
    opacity: 0.8;
}

.boton-contenido-1 {
    background-image: url('../../../../assets/images/premier.jpg');
}
.boton-contenido-2 {
    background-image: url('../../../../assets/images/champion.jpg');
}
.boton-contenido-3 {
    background-image: url('../../../../assets/images/laliga.jpg');
}
