

  
        <div class="row align-items-center bg-secondary ">
            <div class="col-6">
                <img src="../../../../assets/images/logo-betblitz.png" alt="" class="">
            </div>
            <div class="col-6">
                <div class="d-flex">
                    <div class="mb-3 me-3">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Correo/Cédula">
                      </div>
                      <div class="mb-3 me-3">
                        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Contraseña">
                      </div>
                      <div class="mb-3 me-3">
                        <button type="button" class="btn btn-success">Ingresar</button>
                      </div>
                      <div class="mb-3">
                      <button type="button" class="btn btn-primary">Registrarse</button>
                      </div>
                </div>
            </div>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../../assets/images/banner1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../../assets/images/banner2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../../assets/images/banner3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div class="container mt-5">
            <div class="row">
                <div class="col-4">
                    <h1>¿Quienes somos?</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore laudantium odio tenetur eligendi vitae deleniti possimus consequuntur totam minus, autem ad fugit ut! Harum quaerat, quo est voluptatum maxime exercitationem.
                    Fugit exercitationem optio similique dolorem cupiditate dolor. Vero impedit facilis sed quo, ea minima est corrupti explicabo culpa. A fugit sapiente laboriosam sed placeat! Dolorem ipsa iusto ducimus sapiente quia?
                    Debitis nihil tenetur aut impedit animi quisquam earum libero facilis! Eum nesciunt, sunt vero ex, eius quasi praesentium error ad quod aperiam qui. Aspernatur provident ab doloribus corporis asperiores voluptate.
                    Qui a dignissimos reprehenderit asperiores. Ab quasi nihil, sunt est hic ullam eaque aut officia similique sequi possimus laboriosam facilis optio minima officiis labore, veritatis maxime ducimus natus? Nulla, repellendus!</p>
                </div>
                <div class="col-4">
                    <h1>Misión</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore laudantium odio tenetur eligendi vitae deleniti possimus consequuntur totam minus, autem ad fugit ut! Harum quaerat, quo est voluptatum maxime exercitationem.
                        Fugit exercitationem optio similique dolorem cupiditate dolor. Vero impedit facilis sed quo, ea minima est corrupti explicabo culpa. A fugit sapiente laboriosam sed placeat! Dolorem ipsa iusto ducimus sapiente quia?
                        Debitis nihil tenetur aut impedit animi quisquam earum libero facilis! Eum nesciunt, sunt vero ex, eius quasi praesentium error ad quod aperiam qui. Aspernatur provident ab doloribus corporis asperiores voluptate.
                        Qui a dignissimos reprehenderit asperiores. Ab quasi nihil, sunt est hic ullam eaque aut officia similique sequi possimus laboriosam facilis optio minima officiis labore, veritatis maxime ducimus natus? Nulla, repellendus!</p>
                </div>
                <div class="col-4">
                    <h1>Visión</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore laudantium odio tenetur eligendi vitae deleniti possimus consequuntur totam minus, autem ad fugit ut! Harum quaerat, quo est voluptatum maxime exercitationem.
                        Fugit exercitationem optio similique dolorem cupiditate dolor. Vero impedit facilis sed quo, ea minima est corrupti explicabo culpa. A fugit sapiente laboriosam sed placeat! Dolorem ipsa iusto ducimus sapiente quia?
                        Debitis nihil tenetur aut impedit animi quisquam earum libero facilis! Eum nesciunt, sunt vero ex, eius quasi praesentium error ad quod aperiam qui. Aspernatur provident ab doloribus corporis asperiores voluptate.
                        Qui a dignissimos reprehenderit asperiores. Ab quasi nihil, sunt est hic ullam eaque aut officia similique sequi possimus laboriosam facilis optio minima officiis labore, veritatis maxime ducimus natus? Nulla, repellendus!</p>
                </div>
              </div>
              <div class="row mt-5">
                <div class="d-flex justify-content-center">
                    <div class="me-5">
                        <img src="../../../../assets/images/logo1.png" alt="">
                    </div>
                    <div class="me-5">
                        <img src="../../../../assets/images/logo2.png" alt="">
                    </div>
                    <div class="me-5">
                        <img src="../../../../assets/images/logo3.png" alt="">
                    </div>
                    <div class="me-5">
                        <img src="../../../../assets/images/logo4.png" alt="">
                    </div>
               
                    <div class="me-5">
                        <img src="../../../../assets/images/logo.png" alt="">
                    </div>
               
                </div>
    
              </div>
          </div>
          <app-footer></app-footer>
         
    
 
