<div class="container my-5">
  <div class="row">
    <!-- Sección de información -->
    <h2>Soporte técnico</h2>
    <div class="row">
      <p>Si deseas consultar mayor informacion sobre nuestros servicios  o tienes alguna duda al respecto, no dudes en contactarnos, diligencia el formulario y uno de nuestros agentes te contactara a la brevedad. </p>
    </div>
    <div class="col-md-6">

      <!-- Detalles de contacto aquí -->
      <span class="fw-bold">Contacta con nosotros vía Whatsapp</span>
          <div class="card mt-3 mb-3">
            <div class="card-body">
              <h5 class="card-title">Para fallos con tu ingreso y registro</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Ing. Fabian Bermúdez</h6>
              <p class="card-text">
                <a href="https://wa.me/573228663240/">+57 322 8663240</a></p>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Para fallos con el pago de premios</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Ing. Joan Bolivar</h6>
              <p class="card-text">
                <a href="https://wa.me/573217576548/">+57 321 7576548</a></p>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Para fallos con recargas y saldos</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Ing. Maicol Ocampo</h6>
              <p class="card-text">
                <a href="https://wa.me/573218787650/">+57 321 8787650</a></p>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Para fallos con apuestas</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Ing. Nicolas Cruz</h6>
              <p class="card-text">
                <a href="https://wa.me/573144838984/">+57 314 4838984</a></p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Para otro tipo de fallos</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">Ing. Yorlandi Grajales</h6>
              <p class="card-text">
                <a href="https://wa.me/573168270068/">+57 316 8270068</a></p>
            </div>
          </div>

    </div>
    <!-- Sección de formulario de contacto -->
    <div class="col-md-6">
      <h3>Contacto</h3>
      <form>
        <div class="card">
          <h5 class="card-title text-center mt-3">¿Quieres saber más?</h5>
          <div class="card-body">
            <div class="mb-3">
              <label for="fullName" class="form-label">Nombre completo</label>
              <input type="text" class="form-control" id="fullName" placeholder="Nombre y apellido">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="mb-3">
              <label for="subject" class="form-label">Asunto</label>
              <input type="text" class="form-control" id="subject" placeholder="Escribe el asunto">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Mensaje</label>
              <textarea class="form-control" id="message" rows="3" placeholder="Escribe tu mensaje"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>
        
      </form>
       <!-- Información de ubicación -->
       <div class="text-center fw-bold mt-3">
        <span>
          <i class="bi bi-geo-alt-fill"></i>
          <p>Cl. 57 #3-00 este, Bogotá</p>
        </span>
      
        <span>
          <i class="bi bi-telephone-fill"></i>
          <p>Teléfono: 01-800-0180779</p>
        </span>
       
       </div>
   
    </div>
  </div>
</div>