

<div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <h3 class="">Mi saldo: 1'200.000</h3>
      </div>
      <div class="col-6 text-end">
        <i class="bi bi-person-fill fs-1"></i>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-auto">
        <button type="button" class="btn btn-primary">Agregar apuesta</button>
      </div>

    </div>
   

    <div class="container-card p-3">
      <div class="card text-bg-secondary mb-3">
        <div class="card-body">
         <div class="row">
          <div class="col-auto">
            <div class="d-flex flex-column text-center">
              <span>Min. 20</span>
              <span>2 - 1</span>
             
            </div>
          </div>
          <div class="col-3">
            <img class="img-fluid" src="../../../../assets/images/naldim1.png" alt="Imagen de la Tarjeta">
          </div>
          <div class="col-6 flex-grow-1 text-end">
            <div class="d-flex flex-column">
              <i class="bi bi-star"></i>
              <span>Atl. Nacional</span>
              <span>Ind. Medellín</span>
              <span>Fútbol / Colombia / Liga Ágila</span>
            </div>
            <div class="mt-3">
              <button type="button" class="btn btn-success me-2">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
          </div>
         </div>
        </div>
      </div>
      <div class="card text-bg-secondary mb-3">
        <div class="card-body">
         <div class="row">
          <div class="col-auto">
            <div class="d-flex flex-column text-center">
              <span>dom.</span>
              <span>30  Mar.</span>
              <span>16:00</span>
            </div>
          </div>
          <div class="col-3">
            <img class="img-fluid" src="../../../../assets/images/mancliv1.png" alt="Imagen de la Tarjeta">
          </div>
          <div class="col-6 flex-grow-1 text-end">
            <div class="d-flex flex-column">
              <i class="bi bi-star"></i>
              <span>Man. United</span>
              <span>Liverpool</span>
              <span>Fútbol / Inglaterra / Liga Premier</span>
            </div>
            <div class="mt-3">
              <button type="button" class="btn btn-success me-2">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
          </div>
         </div>
        </div>
      </div>
      <div class="card text-bg-secondary mb-3">
        <div class="card-body">
         <div class="row">
          <div class="col-auto">
            <div class="d-flex flex-column text-center">
              <span>mar.</span>
              <span>16 Abr.</span>
              <span>13:45</span>
            </div>
          </div>
          <div class="col-3">
            <img class="img-fluid" src="../../../../assets/images/colbra1.png" alt="Imagen de la Tarjeta">
          </div>
          <div class="col-6 flex-grow-1 text-end">
            <div class="d-flex flex-column">
              <i class="bi bi-star"></i>
              <span>Colombia</span>
              <span>Brasil</span>
              <span>Fútbol / Internacional / Copa del mundo</span>
            </div>
            <div class="mt-3">
              <button type="button" class="btn btn-success me-2">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        
           
          </div>
         </div>
        </div>
      </div>
    </div>
    
 
      

  </div>
