<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu página web</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-U1W/WqpDRTbsz7E1mJAqF7DGrtxOp90kX4z5rqjddgOCZ2J7w3nDD+lN89/EhJlr" crossorigin="anonymous">
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXSqoW8T1/i1o5vCCm3b3rphjoom1K1sQkH74g41e4y3mCK6rQ/rQ2Oshv4icIQ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1W/WqpDRTbsz7E1mJAqF7DGrtxOp90kX4z5rqjddgOCZ2J7w3nDD+lN89/EhJlr" crossorigin="anonymous"></script>

  <div class="texto-encima-botones">
    <p class="texto-botones">Mi saldo: 1'200.000</p>
  </div>

  <div class="profile-icon">
    <i class="material-icons" style="font-size:140px;color:#cecece">person</i>
  </div>

  <div class="contenedor-botones">
    <button class="btn btn-primary boton-izquierda">Mis apuestas</button>
    <button class="btn btn-primary boton-derecha">Mis recargas</button>
  </div>

  <div class="cuadro-centrado">
    
    <div class="tarjeta-contenedor">
      <div class="tarjeta">
        <div class="tarjeta-encabezado">
          <p>Min. 20 <br> 2 - 1</p>
          <div class="tarjeta-imagen">
            <img src="../../../../assets/images/naldim1.png" alt="Imagen de la Tarjeta">
          </div>
        </div>
        
        <div class="tarjeta-pie">
            <i class="fa fa-star-o" style="font-size: 30px; color: white; position: relative;">
                <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; border-radius: 50%; background: radial-gradient(circle, rgba(255, 251, 0, 0.5) 0%, rgba(255,255,255,0) 80%); animation: shine-animation 1.5s infinite;"></span>
            </i>
            <div class="tarjeta-pie-dos">
              <p class="text1 text-vertical">Atl. Nacional <br> Ind. Medellín</p>
              <p class="text2 text-vertical">Fútbol / Colombia / Liga Ágila</p>
            </div>
        </div>
      </div>
    </div>

    <div class="tarjeta-contenedor">
        <div class="tarjeta">
          <div class="tarjeta-encabezado">
            <p>dom. <br> 30  Mar. <br> 00:00</p>
            <div class="tarjeta-imagen">
              <img src="../../../../assets/images/mancliv1.png" alt="Imagen de la Tarjeta">
            </div>
          </div>
          
          <div class="tarjeta-pie">
              <i class="fa fa-star-o" style="font-size: 30px; color: white; position: relative;">
                  <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; border-radius: 50%; background: radial-gradient(circle, rgba(255, 251, 0, 0.5) 0%, rgba(255,255,255,0) 80%); animation: shine-animation 1.5s infinite;"></span>
              </i>
              <div class="tarjeta-pie-dos">
                <p class="text1 text-vertical">Man. United <br>   Liverpool</p>
                <p class="text2 text-vertical">Fútbol / Inglaterra / Liga Premier</p>
              </div>
          </div>
        </div>
      </div>
      
      <div class="tarjeta-contenedor">
        <div class="tarjeta">
          <div class="tarjeta-encabezado">
            <p> mar. <br> 16 Abr. <br> 13:45</p>
            <div class="tarjeta-imagen">
              <img src="../../../../assets/images/colbra1.png" alt="Imagen de la Tarjeta">
            </div>
          </div>
          
          <div class="tarjeta-pie">
              <i class="fa fa-star-o" style="font-size: 30px; color: white; position: relative;">
                  <span style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; border-radius: 50%; background: radial-gradient(circle, rgba(255, 251, 0, 0.5) 0%, rgba(255,255,255,0) 80%); animation: shine-animation 1.5s infinite;"></span>
              </i>
              <div class="tarjeta-pie-dos">
                <p class="text1 text-vertical">Colombia <br> Brasil </p>
                <p class="text2 text-vertical">Fútbol / Internacional / Copa del mundo</p>
              </div>
          </div>
        </div>
      </div>

      

  </div>

</body>
</html>
