<h2 class="mx-3 my-3">Hola, {{userName}}</h2>
<div class="container my-3">
  <div class="row">
   
    <div class="col-4">
      <button class="btn w-100 p-0" style="background-image: url('../../../../assets/images/premier.jpg');">
      </button>
    </div>
    <div class="col-4">
      <button class="btn w-100 p-0" style="background-image: url('../../../../assets/images/champion.jpg');">
      </button>
    </div>
    <div class="col-4">
      <button class="btn w-100 p-0" style="background-image: url('../../../../assets/images/laliga.jpg');">
      </button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 my-3 text-center">
      <!-- Asegúrate de que este elemento tenga la altura adecuada para empujar el contenido hacia arriba si es necesario -->
      <h2>Mis estadísticas</h2>
      <!-- Aquí va el gráfico o contenido central -->
      <button class="btn w-50 p-0" style="background-image: url('../../../../assets/images/statistics.jpg');">
      </button>
    </div>
  </div>
</div>

 