
<body>
  <img id="fondo" src="../../../../assets/images/fondopagina.png" alt="" class="">
<div class="container">
  <h2><strong>REGISTRO</strong></h2>
  <form>
    <div class="mb-3">
      <label for="nombre" class="form-label"><strong>Nombres:</strong></label>
      <input type="text" class="form-control" id="nombre" name="nombre" required>
    </div>
    <div class="mb-3">
      <label for="apellido" class="form-label"><strong>Apellidos:</strong></label>
      <input type="text" class="form-control" id="apellido" name="apellido" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label"><strong>Correo Electrónico:</strong></label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="cedula" class="form-label"><strong>Cédula:</strong></label>
      <input type="text" class="form-control" id="cedula" name="cedula" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"><strong>Contraseña:</strong></label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label"><strong>Confirmar Contraseña:</strong></label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
    </div>
    <div class="center-button">
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </div>
    <p><br><a href="/home"><i>Iniciar Sesion</i></a></p>
  </form>
</div>
<app-footer></app-footer>
</body>

