
<body>
  <img id="fondo" src="../../../../assets/images/fondopagina.png" alt="" class="">
<div class="container">
  <h2><strong>REGISTRO</strong></h2>
  <form [formGroup]="signup" (ngSubmit)="onSubmit(signup)">
    <div class="mb-3">
      <label for="nombre" class="form-label"><strong>Nombres:</strong></label>
      <input type="text" class="form-control" id="nombre" name="nombre" formControlName="names" [ngClass]="{'is-invalid':submitted && signup.controls.names.errors}">
      <ng-container *ngIf="signup.invalid">
        <div class="invalid-feedback">
          El campo de nombres es obligatorio.
        </div>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="apellido" class="form-label"><strong>Apellidos:</strong></label>
      <input type="text" class="form-control" id="apellido" name="apellido" formControlName="lastNames" [ngClass]="{'is-invalid':submitted && signup.controls.lastNames.errors}">
      <ng-container *ngIf="signup.invalid">
        <div class="invalid-feedback">
          El campo de apellidos es obligatorio.
        </div>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label"><strong>Correo Electrónico:</strong></label>
      <input type="email" class="form-control" id="email" name="email" formControlName="email" [ngClass]="{'is-invalid':submitted && signup.controls.email.errors}">
      <ng-container *ngIf="signup.invalid">
        <div class="invalid-feedback">
          El campo de correo electrónico es obligatorio.
        </div>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="cedula" class="form-label"><strong>Cédula:</strong></label>
      <input type="text" class="form-control" id="cedula" name="cedula" formControlName="document" [ngClass]="{'is-invalid':submitted && signup.controls.document.errors}">
      <ng-container *ngIf="signup.invalid">
        <div class="invalid-feedback">
         El campo de cédula es obligatorio.
        </div>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label"><strong>Contraseña:</strong></label>
      <input type="password" class="form-control" id="password" name="password" formControlName="password" [ngClass]="{'is-invalid':submitted && signup.controls.password.errors}">
      <ng-container *ngIf="signup.get('password').errors?.required">
        <div class="invalid-feedback">
        El campo de contraseña es obligatorio.
        </div>
      </ng-container>
      <ng-container *ngIf="signup.get('password').errors?.minlength || this.signup.get('password').errors?.maxlength">
        <div class="invalid-feedback">
          El campo contraseña debe tener al menos 6 y máximo 8 caracteres.
        </div>
      </ng-container>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label"><strong>Confirmar Contraseña:</strong></label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="passwordConfirmation" [ngClass]="{'is-invalid':submitted && (signup.controls.passwordConfirmation.errors || signup.errors?.passwordMismatch) }">
      <ng-container *ngIf="signup.get('passwordConfirmation').errors?.minlength || this.signup.get('passwordConfirmation').errors?.maxlength">
        <div class="invalid-feedback">
          El campo contraseña debe tener al menos 6 y máximo 8 caracteres.
        </div>
      </ng-container>
      <ng-container *ngIf="signup.errors?.passwordMismatch">
          <div class="invalid-feedback">
            El campo confirmar contraseña no coincide con la contraseña ingresada.
          </div>
        </ng-container>
      
    </div>
    <div class="center-button">
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </div>
    <p><br><a href="/betbliz/home"><i>Iniciar Sesion</i></a></p>
  </form>
</div>

</body>
